<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="Christer Sandberg, blog, thoughts and what else?" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Christer Sandberg - Atom" href="http://feeds.feedburner.com/chrsan" />
    <title>Christer Sandberg &mdash; {{ page.title }}</title>
  </head>
  <body>
    <a href="http://github.com/chrsan/chrsan.github.com/tree/master">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
    </a>
    <div id="wrapper">
      <header>
        <h1 id="title">
          <a href="/" title="home">Chister Sandberg</a>
        </h1>
        <h2 id="subtitle">Blog, thoughts and what else?</h2>
      </header>
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a> &bull;
        <a href="http://github.com/chrsan/">Maintainer</a> &bull;
        <a href="http://feeds.feedburner.com/chrsan">Subscribe</a>
        <div id="twitterbadge">
          <a href="http://twitter.com/chrsan">
            <img src="http://twitter-badges.s3.amazonaws.com/follow_me-b.png" alt="Follow Christer Sandbergs blog on Twitter" />
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
